/* FONTFACE --------------------------------------------------------------------------------*/
@font-face {
  font-family: Chalkduster;
  src: url(../fonts/Chalkduster.ttf);
}

@font-face {
  font-family: Helvetica;
  src: url(../fonts/Helvetica.otf);
}

/*@include font-face("Chalkduster", font-files("../fonts/Chalkduster.ttf", truetype));*/
/*@include font-face("Helvetica", font-files("../fonts/Helvetica.otf", opentype));*/
/* LAYOUT --------------------------------------------------------------------------------*/
/* CONTENIDO -------------------------------------*/
/* DECORACION -------------------------------------*/
