/* Welcome to Compass.*/
/* line 17, /Users/dev/.rvm/gems/ruby-1.8.7-p334@design/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /Users/dev/.rvm/gems/ruby-1.8.7-p334@design/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /Users/dev/.rvm/gems/ruby-1.8.7-p334@design/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /Users/dev/.rvm/gems/ruby-1.8.7-p334@design/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /Users/dev/.rvm/gems/ruby-1.8.7-p334@design/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /Users/dev/.rvm/gems/ruby-1.8.7-p334@design/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /Users/dev/.rvm/gems/ruby-1.8.7-p334@design/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /Users/dev/.rvm/gems/ruby-1.8.7-p334@design/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, /Users/dev/.rvm/gems/ruby-1.8.7-p334@design/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* FONTFACE --------------------------------------------------------------------------------*/
@font-face {
  font-family: Helvetica;
  src: url(../fonts/Helvetica.otf);
}

/*@include font-face("Chalkduster", font-files("../fonts/Chalkduster.ttf", truetype));*/
/*@include font-face("Helvetica", font-files("../fonts/Helvetica.otf", opentype));*/
/* LAYOUT --------------------------------------------------------------------------------*/
/* CONTENIDO -------------------------------------*/
/* DECORACION -------------------------------------*/
/* FORMS -------------------------------------*/
/* line 1, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
html, body {
  height: 100%;
}

/* line 6, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
}
/* line 8, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
body.ladrillo {
  background: url(../images/BrickLargeBrown0019.jpg) repeat center 0 transparent;
}
/* line 11, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
body.ceramica {
  background: url(../images/BrickLargeBrown0019.jpg) repeat center 0 transparent;
}

/*---------------------------------------------- General Layout ------------------------------------------*/
/* line 19, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
header {
  background: url(../images/cement.png) repeat center bottom;
  height: 155px;
}
/* line 22, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
header h1 {
  font-family: "Chelsea Market", Verdana, sans-serif;
  text-align: center;
  display: block;
  text-transform: uppercase;
  color: #888;
  text-shadow: 0 -2px 0px rgba(0, 0, 0, 0.5);
  letter-spacing: -0.07em;
  position: absolute;
  width: 99.99%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  top: 40px;
  font-size: 190%;
}
/* line 27, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
header h2 {
  font-family: "Chelsea Market", Verdana, sans-serif;
  text-align: center;
  display: block;
  text-transform: uppercase;
  color: #888;
  text-shadow: 0 -2px 0px rgba(0, 0, 0, 0.5);
  letter-spacing: -0.07em;
  position: absolute;
  width: 99.99%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  position: absolute;
  top: 70px;
  font-size: 290%;
}

/* line 35, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
figure {
  position: relative;
  height: 150px;
}
/* line 38, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
figure a {
  left: 50%;
  display: block;
  position: absolute;
  top: 20px;
  margin-left: -50px;
  z-index: 10;
}
/* line 46, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
figure figcaption {
  position: absolute;
  visibility: hidden;
}

/* line 52, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -116px;
}

/* line 59, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
#content {
  -moz-box-shadow: inset 0 3px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 3px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0 3px 4px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 3px 4px rgba(0, 0, 0, 0.2);
}
/* line 61, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
#content .group-content {
  min-width: 960px;
  margin: 0 auto;
}
/* line 63, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
#content .group-content #board {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 65, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
#content .group-content #board .frase {
  position: absolute;
  width: 99%;
  top: 50%;
  height: 100px;
  padding-top: 10px;
  margin-top: -55px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=62);
  opacity: 0.62;
}
/* line 73, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
#content .group-content #board .frase h1 {
  font-family: "Rock Salt", Verdana, sans-serif;
  text-align: center;
  display: block;
  -moz-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
  font-size: 280%;
  line-height: 1.1em;
  color: #000;
}
/* line 79, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
#content .group-content #board .frase h1:before {
  content: open-quote;
}
/* line 82, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
#content .group-content #board .frase h1:after {
  content: close-quote;
}
/* line 86, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
#content .group-content #board .frase h2 {
  font-size: 1.3em;
  font-family: "Rock Salt", Verdana, sans-serif;
  text-align: center;
  display: block;
  margin-top: 2px;
  text-indent: 190px;
  -moz-transform: rotate(0.5deg);
  -webkit-transform: rotate(0.5deg);
  -o-transform: rotate(0.5deg);
  -ms-transform: rotate(0.5deg);
  transform: rotate(0.5deg);
  color: #000;
}
/* line 95, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
#content .group-content #board .actions {
  text-align: center;
  padding: 12px 0;
  position: absolute;
  width: 99.99%;
  bottom: 110px;
}
/* line 101, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
#content .group-content #board .actions ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 105, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
#content .group-content #board .actions ul li {
  display: inline-block;
}
/* line 111, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
#content .group-content #hidden-sections {
  width: 960px;
  margin: 0 auto;
  padding-top: 18px;
}
/* line 116, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
#content .group-content #hidden-sections #search-box,
#content .group-content #hidden-sections #comments-box,
#content .group-content #hidden-sections #adding-box {
  padding: 18px 8px;
  display: none;
}

/* line 125, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
footer {
  background: url(../images/BrickRound.jpg) repeat center 0;
  padding-top: 28px;
}
/* line 128, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
footer .logo_footer {
  display: block;
  text-indent: -100000px;
  background: url(../images/logo_footer.png) no-repeat 0 0;
  width: 122px;
  height: 18px;
  margin: 0 auto;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 137, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
footer p {
  font-size: 12px;
  text-shadow: 1px 1px 0 #dadada;
  display: block;
  text-align: center;
  padding-top: 10px;
  color: #666;
}

/* line 147, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
footer {
  height: 88px;
}

/* line 151, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
.push {
  height: 118px;
}

/*---------------------------------------------- Elements ------------------------------------------*/
/* line 159, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
.actions a {
  display: block;
  text-indent: -100000px;
  height: 60px;
  width: 60px;
  margin: 0 2px;
  background: url(../images/sprite_controls.png) no-repeat;
  border: 1px solid transparent;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
/* line 168, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
.actions a:hover {
  border-color: #a69f94;
  -moz-box-shadow: inset 0 1px 1px white;
  -webkit-box-shadow: inset 0 1px 1px white;
  -o-box-shadow: inset 0 1px 1px white;
  box-shadow: inset 0 1px 1px white;
}
/* line 172, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
.actions a:active {
  border-color: #3d424a;
  -moz-box-shadow: inset 0 1px 1px white;
  -webkit-box-shadow: inset 0 1px 1px white;
  -o-box-shadow: inset 0 1px 1px white;
  box-shadow: inset 0 1px 1px white;
}
/* line 176, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
.actions a.buscar {
  background-position: 0 0;
  display: none;
}
/* line 180, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
.actions a.comentar {
  background-position: 0 -60px;
  display: none;
}
/* line 184, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
.actions a.agregar {
  background-position: 0 -120px;
  display: none;
}
/* line 188, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
.actions a.otrafrase {
  background-position: 0 -180px;
}

/* line 194, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
#search-box {
  position: relative;
}
/* line 196, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
#search-box input[placeholder], #search-box [placeholder], #search-box *[placeholder], #search-box input::-webkit-input-placeholder {
  color: #777 !important;
  text-shadow: none;
}
/* line 201, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
#search-box input[type="text"] {
  border: none;
  font-family: "Rock Salt", Verdana, sans-serif;
  text-align: center;
  display: block;
  font-size: 18px;
  /*background:#e6e6e6;*/
  /*@include background(linear-gradient(center top , #e6e6e6, #d9d9d9), repeat scroll 0 0 transparent);*/
  background: url(../images/cement.png) repeat 0 #e6e6e6;
  padding: 9px 0;
  width: 100%;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: inset 0 2px 3px #555555;
  -webkit-box-shadow: inset 0 2px 3px #555555;
  -o-box-shadow: inset 0 2px 3px #555555;
  box-shadow: inset 0 2px 3px #555555;
  width: 100%;
}
/* line 205, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
#search-box input[type="submit"] {
  font-family: Helvetica, Arial, sans-serif;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c3c3c3), color-stop(100%, #a7a7a7)), repeat scroll 0 0 transparent;
  background: -webkit-linear-gradient(center top, #c3c3c3, #a7a7a7), repeat scroll 0 0 transparent;
  background: -moz-linear-gradient(center top, #c3c3c3, #a7a7a7), repeat scroll 0 0 transparent;
  background: -o-linear-gradient(center top, #c3c3c3, #a7a7a7), repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(center top, #c3c3c3, #a7a7a7), repeat scroll 0 0 transparent;
  background: linear-gradient(center top, #c3c3c3, #a7a7a7), repeat scroll 0 0 transparent;
  border: 1px solid #999999;
  -moz-box-shadow: inset 0 1px 0 #f2f2f2;
  -webkit-box-shadow: inset 0 1px 0 #f2f2f2;
  -o-box-shadow: inset 0 1px 0 #f2f2f2;
  box-shadow: inset 0 1px 0 #f2f2f2;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  text-shadow: 0 1px 0 #f2f2f2;
  padding: 16px 10px 10px;
  color: #333;
  font-size: 16px;
  line-height: 14px;
  letter-spacing: -0.03em;
  cursor: pointer;
  position: absolute;
  right: 18px;
  margin-top: -53px;
}
/* line 88, /Users/dev/Proyectos/Diseño/WallContinuum/sass/mixins.scss */
#search-box input[type="submit"]:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cccccc), color-stop(100%, #c3c3c3)), repeat scroll 0 0 transparent;
  background: -webkit-linear-gradient(center top, #cccccc, #c3c3c3), repeat scroll 0 0 transparent;
  background: -moz-linear-gradient(center top, #cccccc, #c3c3c3), repeat scroll 0 0 transparent;
  background: -o-linear-gradient(center top, #cccccc, #c3c3c3), repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(center top, #cccccc, #c3c3c3), repeat scroll 0 0 transparent;
  background: linear-gradient(center top, #cccccc, #c3c3c3), repeat scroll 0 0 transparent;
}

/* line 213, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
#adding-box {
  position: relative;
  overflow: hidden;
}
/* line 216, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
#adding-box input[placeholder], #adding-box [placeholder], #adding-box *[placeholder], #adding-box input::-webkit-input-placeholder {
  color: #777 !important;
  text-shadow: none;
}
/* line 223, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
#adding-box input[type="text"] {
  border: none;
  font-family: "Rock Salt", Verdana, sans-serif;
  text-align: center;
  display: block;
  font-size: 18px;
  /*background:#e6e6e6;*/
  /*@include background(linear-gradient(center top , #e6e6e6, #d9d9d9), repeat scroll 0 0 transparent);*/
  background: url(../images/cement.png) repeat 0 #e6e6e6;
  padding: 9px 0;
  width: 100%;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: inset 0 2px 3px #555555;
  -webkit-box-shadow: inset 0 2px 3px #555555;
  -o-box-shadow: inset 0 2px 3px #555555;
  box-shadow: inset 0 2px 3px #555555;
  padding: 9px 130px 9px 16px;
  width: 410px;
  float: left;
  text-align: left;
}
/* line 229, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
#adding-box input[type="text"].who {
  width: 230px;
  margin-right: 12px;
}
/* line 234, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
#adding-box select {
  border: none;
  font-family: "Rock Salt", Verdana, sans-serif;
  text-align: center;
  display: block;
  font-size: 24px;
  background: none;
  color: #FFF;
  padding: 15px 12px 8px;
  width: 370px;
  float: left;
  text-align: left;
  -webkit-appearance: none;
  background: #282830;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
  height: 63px;
}
/* line 249, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
#adding-box select option {
  font-size: 12px;
  font-family: Arial;
  color: #000;
  text-shadow: none;
  background: #fff;
}
/* line 255, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
#adding-box select option:focus {
  outline: 0px;
}
/* line 260, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
#adding-box input[type="submit"] {
  font-family: Helvetica, Arial, sans-serif;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c3c3c3), color-stop(100%, #a7a7a7)), repeat scroll 0 0 transparent;
  background: -webkit-linear-gradient(center top, #c3c3c3, #a7a7a7), repeat scroll 0 0 transparent;
  background: -moz-linear-gradient(center top, #c3c3c3, #a7a7a7), repeat scroll 0 0 transparent;
  background: -o-linear-gradient(center top, #c3c3c3, #a7a7a7), repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(center top, #c3c3c3, #a7a7a7), repeat scroll 0 0 transparent;
  background: linear-gradient(center top, #c3c3c3, #a7a7a7), repeat scroll 0 0 transparent;
  border: 1px solid #999999;
  -moz-box-shadow: inset 0 1px 0 #f2f2f2;
  -webkit-box-shadow: inset 0 1px 0 #f2f2f2;
  -o-box-shadow: inset 0 1px 0 #f2f2f2;
  box-shadow: inset 0 1px 0 #f2f2f2;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  text-shadow: 0 1px 0 #f2f2f2;
  padding: 16px 10px 10px;
  color: #333;
  font-size: 16px;
  line-height: 14px;
  letter-spacing: -0.03em;
  cursor: pointer;
  position: absolute;
  right: 18px;
  margin-top: 12px;
}
/* line 88, /Users/dev/Proyectos/Diseño/WallContinuum/sass/mixins.scss */
#adding-box input[type="submit"]:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cccccc), color-stop(100%, #c3c3c3)), repeat scroll 0 0 transparent;
  background: -webkit-linear-gradient(center top, #cccccc, #c3c3c3), repeat scroll 0 0 transparent;
  background: -moz-linear-gradient(center top, #cccccc, #c3c3c3), repeat scroll 0 0 transparent;
  background: -o-linear-gradient(center top, #cccccc, #c3c3c3), repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(center top, #cccccc, #c3c3c3), repeat scroll 0 0 transparent;
  background: linear-gradient(center top, #cccccc, #c3c3c3), repeat scroll 0 0 transparent;
}

/* line 269, /Users/dev/Proyectos/Diseño/WallContinuum/sass/base.scss */
#comments-box h3 {
  font-family: "Rock Salt", Verdana, sans-serif;
  text-align: center;
  display: block;
  display: block;
  text-align: center;
  padding: 20px 16px;
  font-size: 28px;
  background: rgba(0, 0, 0, 0.1);
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
}
